---
BasedOnStyle: WebKit
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: 'false'
BreakBeforeInheritanceComma: 'true'
BreakBeforeBraces: 'Allman'
BreakConstructorInitializers: BeforeComma
ColumnLimit: '120'
Cpp11BracedListStyle: 'true'

...
