---
AccessModifierOffset: -4
# AlignAfterOpenBracket
# AlignConsecutiveAssignments
# AlignConsecutiveDeclarations
# AlignEscapedNewlinesLeft
# AlignOperands
# AlignTrailingComments
# AllowAllParametersOfDeclarationOnNextLine
AllowShortBlocksOnASingleLine: false
# AllowShortCaseLabelsOnASingleLine
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
# AllowShortLoopsOnASingleLine
AlwaysBreakAfterReturnType: None
# AlwaysBreakBeforeMultilineStrings
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: false
# BraceWrapping
# BreakAfterJavaFieldAnnotations
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
# BreakBeforeTernaryOperators
BreakConstructorInitializersBeforeComma: true
# BreakStringLiterals
ColumnLimit: 0
# CommentPragmas
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
# DerivePointerAlignment
# DisableFormat
# ExperimentalAutoDetectBinPacking
# ForEachMacros
# IncludeCategories
# IncludeIsMainRegex
IndentCaseLabels: false
IndentWidth: 4
# IndentWrappedFunctionNames
# JavaScriptQuotes
KeepEmptyLinesAtTheStartOfBlocks: false
Language: Cpp
# MacroBlockBegin
# MacroBlockEnd
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
# ObjCBlockIndentWidth
# ObjCSpaceAfterProperty
# ObjCSpaceBeforeProtocolList
# PenaltyBreakBeforeFirstCallParameter
# PenaltyBreakComment
# PenaltyBreakFirstLessLess
# PenaltyBreakString
# PenaltyExcessCharacter
# PenaltyReturnTypeOnItsOwnLine
PointerAlignment: Left
ReflowComments: false
SortIncludes: true
SpaceAfterCStyleCast: false
# SpaceAfterTemplateKeyword
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
# SpacesInContainerLiterals
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Cpp11
TabWidth: 4
UseTab: Never