/Builds/VisualStudio2013/AudioPlayerJuce.vcxproj.user
/Builds/VisualStudio2013/Debug
/Builds/VisualStudio2013/Release
/Builds/VisualStudio2013/ipch
/Builds/VisualStudio2013/AudioPlayerJuce.sdf
/Builds/VisualStudio2013/AudioPlayerJuce.sln.docstates.suo
/Builds/VisualStudio2013/AudioPlayerJuce*.suo
/Builds/VisualStudio2013/AudioPlayerJuce.opensdf
/Builds/VisualStudio2013/resources.aps
