name: CMake

on:
  push:
  pull_request:

env:
  BUILD_TYPE: RelWithDebInfo

jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run clang-format
      uses: jidicula/clang-format-action@v4.13.0
      with:
        clang-format-version: '17'
        check-path: 'Source'

  build:
    runs-on: windows-2025-vs2026

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'true'

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Archive executable
      uses: actions/upload-artifact@v4
      with:
        name: MStarPlayer
        path: ${{github.workspace}}/build/MStarPlayer_artefacts/${{env.BUILD_TYPE}}/MStarPlayer.exe

    - name: Archive PDB
      uses: actions/upload-artifact@v4
      with:
        name: PDB
        path: ${{github.workspace}}/build/MStarPlayer_artefacts/${{env.BUILD_TYPE}}/MStarPlayer.pdb
